<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin</title>
    <th:block th:include="fragments/headerfiles-admin.html :: headerfiles-admin"></th:block>
</head>

<body>


<div id="wrapper">
    <th:block th:include="fragments/sidebar-admin.html :: sidebar-admin"></th:block>
    <th:block th:include="fragments/navbar-admin.html :: navbar-admin"></th:block>
</div>

<footer th:replace="fragments/footer-admin.html :: footer-admin"></footer>

</body>

</html>