<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Security Gate</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="special/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--===============================================================================================-->
    <link href="special/admin/login.css" rel="stylesheet" type="text/css">
    <!--===============================================================================================-->

    <script th:inline="javascript">
        /*<![CDATA[*/
        message = /*[[${message}]]*/ '';
        messColor = /*[[${messColor}]]*/ '';
        /*]]>*/
    </script>
</head>
<body>

<div class="login">
    <h1 class="fadeIn first"> <span th:utext="#{login.title}"/> </h1>
    <form method="POST" role="form" th:action="@{/admin}" >
        <input type="text" id="username" for="username" class="fadeIn first" name="username" th:placeholder="#{login.username}"  data-validate="Username is required">
        <input type="password" id="password" for="password" class="fadeIn second" name="password" th:placeholder="#{login.password}" data-validate="Pasword is required">
        <div class=" row remember fadeIn third custom-checkbox">
            <input id="rememberme" name="rememberme" value="remember" type="checkbox" /><span th:utext="#{login.remember}"/>
        </div>
        <input type="submit" class="fadeIn fourth btn btn-green btn-block btn-large" th:value="#{login.submit}">
        <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
    </form>
</div>

<!--<div id="alertMess" class="alert alert-warning alert-dismissible fadeIn show" role="alert">
    <h1>Notification</h1></br>
    <p id="mess"></p>
</div>-->

<script src="special/admin/jquery-3.3.1.js" type="text/javascript"></script>
<script src="special/admin/js/bootstrap.js" type="text/javascript"></script>
<script src="special/admin/login.js" type="text/javascript"></script>
<script>
    /*$('#mess').html(message);
    $('#mess').css("color", messColor);*/
    if (message !== "") {
        createAlertMess();
        $('#mess').html(message);
        $('#mess').css('color', messColor);
    }
</script>

</body>
</html>