<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <th:block th:include="fragments/headerfiles-admin.html :: headerfiles-admin"></th:block>
</head>
<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" fill="none" r="20" stroke-miterlimit="10" stroke-width="2"/>
    </svg>
</div>

<div id="main-wrapper">

    <!-- header header  -->
    <div th:replace="fragments/navbar-admin.html :: navbar-admin"></div>
    <!-- End header header -->
    <!-- Left Sidebar  -->
    <div th:replace="fragments/sidebar-admin.html :: sidebar-admin"></div>
    <!-- End Left Sidebar  -->

    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Add Product</h3></div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">DashBoard</a></li>
                    <li class="breadcrumb-item active">Design</li>
                    <li class="breadcrumb-item active">Add Product</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <!-- /# row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-title">
                            <h4>Overview</h4>
                        </div>

                        <div class="card-body">
                            <div class="basic-elements">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-title">
                            <h4>New Product</h4>

                        </div>
                        <div class="card-body">
                            <div class="basic-elements">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input class="form-control" type="text" value="Some text value...">
                                            </div>
                                            <div class="form-group">
                                                <label>Beschreibung 1</label>
                                                <input class="form-control" type="text" value="Some text value...">
                                            </div>
                                            <div class="form-group">
                                                <label>Beschreibung 2</label>
                                                <input class="form-control" type="text" value="Some text value...">
                                            </div>
                                            <div class="form-group">
                                                <label>Beschreibung 3</label>
                                                <input class="form-control" type="text" value="Some text value...">
                                            </div>

                                        </div>
                                        <div class="col-lg-6">

                                            <div class="form-group">
                                                <label>Category</label>
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>Color</label>
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Helping text</label>
                                                <input class="form-control" placeholder="Helping text" type="text">
                                                <span class="help-block">
														<small>A block of help text that breaks onto a new line and may extend beyond one line.</small>
													</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# column -->


            </div>
            <!-- /# row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Input Style</h4>

                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <form>
                                    <div class="form-group">
                                        <p class="text-muted m-b-15 f-s-12">Use the input classes on an <code>input-default</code>
                                            for Default input.</p>
                                        <input class="form-control input-default " placeholder="Input Default"
                                               type="text">
                                    </div>
                                    <div class="form-group">
                                        <p class="text-muted m-b-15 f-s-12">Use the input classes on an
                                            <code>input-flat</code> for flat input.</p>
                                        <input class="form-control input-flat" placeholder="Input Flat " type="text">
                                    </div>
                                    <div class="form-group">
                                        <p class="text-muted m-b-15 f-s-12">Use the input classes on an <code>input-rounded</code>
                                            for rounded input.</p>
                                        <input class="form-control input-rounded" placeholder="Input Rounded"
                                               type="text">
                                    </div>
                                    <div class="form-group">
                                        <p class="text-muted m-b-15 f-s-12">Use the input classes on an <code>input-focus</code>
                                            for focus input.</p>
                                        <input class="form-control input-focus" placeholder="Input Focus" type="text">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Search Box Style</h4>

                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <form>
                                    <div class="form-group">
                                        <p class="text-muted m-b-15 f-s-12">Use the classes on an
                                            <code>input-group</code>, <code>input-group-btn</code> for Default input
                                            group.</p>
                                        <div class="input-group input-group-default">
                                            <span class="input-group-btn"><button class="btn btn-primary" type="submit"><i
                                                    class="ti-search"></i></button></span>
                                            <input class="form-control" name="Search" placeholder="Search Default"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-muted m-b-15 f-s-12">Use this class are
                                            <code>input-group-rounded</code> and <code>btn-group-right</code> for input
                                            group rounded with search icon.</p>
                                        <div class="input-group input-group-rounded">
                                            <input class="form-control" name="Search" placeholder="Search Round"
                                                   type="text">
                                            <span class="input-group-btn"><button
                                                    class="btn btn-primary btn-group-right" type="submit"><i
                                                    class="ti-search"></i></button></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-muted m-b-15 f-s-12">Use this class <code>input-group-flat</code>
                                            , <code>input-group-close-icon</code> for flat input group with close icon.
                                        </p>
                                        <div class="input-group input-group-flat">
                                            <span class="input-group-btn"><button class="btn btn-primary" type="submit"><i
                                                    class="ti-search"></i></button></span>
                                            <input class="form-control" placeholder="Search Default" type="text">
                                            <span class="input-group-btn"><button
                                                    class="btn btn-primary input-group-close-icon" type="submit"><i
                                                    class="ti-close"></i></button></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-muted m-b-15 f-s-12">Use this class are
                                            <code>input-group-rounded</code> , <code>btn-group-left</code> and <code>btn-group-right</code>
                                            for input group rounded with search icon.</p>
                                        <div class="input-group input-group-rounded">
                                            <span class="input-group-btn"><button
                                                    class="btn btn-primary input-group-close-icon btn-group-left"
                                                    type="submit"><i class="ti-close"></i></button></span>
                                            <input class="form-control" placeholder="Search Round" type="text">
                                            <span class="input-group-btn"><button
                                                    class="btn btn-primary btn-group-right" type="submit"><i
                                                    class="ti-search"></i></button></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Input States</h4>

                        </div>
                        <div class="card-body">
                            <div class="input-states">
                                <form class="form-horizontal">
                                    <div class="form-group has-success">
                                        <div class="row">
                                            <label class="col-sm-3 control-label">Input with success</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group has-warning">
                                        <div class="row">
                                            <label class="col-sm-3 control-label">Input with warning</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group has-error">
                                        <div class="row">
                                            <label class="col-sm-3 control-label">Input with error</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group has-success has-feedback">
                                        <div class="row">
                                            <label class="col-sm-3 control-label">Input with success</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text">
                                                <span class="ti-check form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group has-warning has-feedback">
                                        <div class="row">
                                            <label class="col-sm-3 control-label">Input with warning</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text">
                                                <span class="ti-alert form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group has-error has-feedback">
                                        <div class="row">
                                            <label class="col-sm-3 control-label">Input with error</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text">
                                                <span class="ti-close form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group has-default has-feedback">
                                        <div class="row">
                                            <label class="col-sm-3 control-label">Input with icon</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text">
                                                <span class="ti-user form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group has-success has-feedback">
                                        <div class="row">
                                            <label class="col-sm-3 control-label">Input group with success</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="ti-user"></i></span>
                                                    <input class="form-control" type="text">
                                                </div>
                                                <span class="ti-check form-control-feedback"></span>
                                                <span class="sr-only">(success)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group has-warning has-feedback">
                                        <div class="row">
                                            <label class="col-sm-3 control-label">Input group with warning</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="ti-user"></i></span>
                                                    <input class="form-control" type="text">
                                                </div>
                                                <span class="ti-alert form-control-feedback"></span>
                                                <span class="sr-only">(warning)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group has-error has-feedback">
                                        <div class="row">
                                            <label class="col-sm-3 control-label">Input group with error</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="ti-user"></i></span>
                                                    <input class="form-control" type="text">
                                                </div>
                                                <span class="ti-close form-control-feedback"></span>
                                                <span class="sr-only">(error)</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Input Sizes</h4>


                            <p class="text-muted m-b-15 font-12">Set heights using classes like <code>.input-lg</code>,
                                and set widths using grid column classes like <code>.col-lg-*</code>.</p>
                        </div>
                        <div class="card-body">
                            <div class="input-sizes">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="example-input-small">Small</label>
                                        <div class="col-sm-6">
                                            <input class="form-control input-sm" id="example-input-small" name="example-input-small"
                                                   placeholder=".input-sm" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="example-input-normal">Normal</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" id="example-input-normal" name="example-input-normal"
                                                   placeholder="Normal" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="example-input-large">Large</label>
                                        <div class="col-sm-6">
                                            <input class="form-control input-lg" id="example-input-large" name="example-input-large"
                                                   placeholder=".input-lg" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Grid Sizes</label>
                                        <div class="col-sm-2">
                                            <input class="form-control" placeholder=".col-sm-2" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-3 col-sm-offset-3">
                                            <input class="form-control" placeholder=".col-sm-3" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-3">
                                            <input class="form-control" placeholder=".col-sm-4" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-5 col-sm-offset-3">
                                            <input class="form-control" placeholder=".col-sm-5" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input class="form-control" placeholder=".col-sm-6" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-7 col-sm-offset-3">
                                            <input class="form-control" placeholder=".col-sm-7" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-8 col-sm-offset-3">
                                            <input class="form-control" placeholder=".col-sm-8" type="text">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Basic Form</h4>

                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <form>
                                    <div class="form-group">
                                        <label>Email address</label>
                                        <input class="form-control" placeholder="Email" type="email">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="form-control" placeholder="Password" type="password">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Check me out
                                        </label>
                                    </div>
                                    <button class="btn btn-default" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /# column -->
            </div>


            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2018 All rights reserved. Template designed by <a
                href="https://colorlib.com">Colorlib</a></footer>
        <!-- End footer -->
    </div>
    <footer th:replace="fragments/footer-admin.html :: footer-admin"></footer>
</div>
</body>
</html>