@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #005617;
    background: -moz-radial-gradient(100% 100%, ellipse cover, rgba(60, 74, 200, 0.4) 10%, rgba(99, 10, 4, 0) 40%), -moz-linear-gradient(top, rgba(61, 78, 219, 0.25) 0%, rgba(16, 87, 67, 0.4) 100%), -moz-linear-gradient(150deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 0%, ellipse cover, rgba(33, 200, 54, 0.4) 10%, rgba(99, 10, 4, 0) 40%), -webkit-linear-gradient(top, rgba(61, 78, 219, 0.25) 0%, rgba(18, 87, 39, 0.4) 100%), -webkit-linear-gradient(60deg, #670d10 0%, #092756 100%);
    background: -o-radial-gradient(0% 0%, ellipse cover, rgba(33, 200, 54, 0.4) 10%, rgba(99, 10, 4, 0) 40%), -o-linear-gradient(top, rgba(61, 78, 219, 0.25) 0%, rgba(18, 87, 39, 0.4) 100%), -o-linear-gradient(60deg, #670d10 0%, #092756 100%);
    background: -ms-radial-gradient(0% 0%, ellipse cover, rgba(33, 200, 54, 0.4) 10%, rgba(99, 10, 4, 0) 40%), -ms-linear-gradient(top, rgba(61, 78, 219, 0.25) 0%, rgba(18, 87, 39, 0.4) 100%), -ms-linear-gradient(60deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 0%, ellipse cover, rgba(33, 200, 54, 0.4) 10%, rgba(99, 10, 4, 0) 40%), linear-gradient(to bottom, rgba(61, 78, 219, 0.25) 0%, rgba(18, 87, 39, 0.4) 100%), linear-gradient(60deg, #670d10 0%, #092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);
}

#wrapper {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(1, 14, 19, 0.8);
    color: rgba(1, 14, 19, 0.8);
    align-items: stretch;
}

nav {
    background-color: #010e13;
!important;
    color: #fff;
    border-bottom: 1px solid #00dbde;
}

.user-img {
    padding: auto;
    line-height: 40px;
    width: 40px;
    height: 40px;
    display: block;
    border: 1px solid #ffffff;
!important;
    border-radius: 50%;
!important;
    text-align: center;
}

.ti-user {
    font-size: 1.4em;
}

.username {
    font-size: 20px;
    color: #fff;
}

.search_bar {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 400px;
    background-color: #010e13;
!important;
    border: 1px solid #00dbde;
    border-radius: 30px;
    vertical-align: middle;
}

.search_input {
    width: 100%;
    padding: auto;
    color: white;
    background: #010e13;
!important;
    caret-color: #fff;
    line-height: 40px;
    transition: width 0.4s linear;
    font-size: 14px;
}

.form-control {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    border: transparent;
!important;
    height: 40px;
!important;
}

.form-control:focus, .form-control:active {
    background-color: #010e13;
!important;
    box-shadow: none;
    color: #fff;
}

a:focus, a:active,
button:focus, button:active,
input:focus, input:active,
textarea:focus, textarea:active {
    border-color: transparent;
!important;
    outline-color: currentColor;
    outline-width: 0;
!important;
    -webkit-box-shadow: none;
    -moz-outline-style: none;
    box-shadow: none;
    transition: all 0.3s;
}

.btn {
    color: #00dbde;
}

.btn:hover {
    color: #ffffff;
}

.setting {
    color: #ffffff;
    font-size: 1.6em;
    position: relative;
    display: block;
    transition-property: transform;
    transition-duration: 1s;
}

.setting:hover {
    color: #00dbde;
    decoration: none;
    -moz-animation: rotation 2s infinite linear;
    -webkit-animation: rotation 2s infinite linear;
    -o-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-ms-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 79px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    transition: all 0.3s;
}

.sidebar:active {
    width: 80px;
    transition: all 0.3s;
}

.sidebar:active .navbar-text {
    display: none;
    transition: all 0.3s;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 79px);
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #023947;
!important;
}

.sidebar-sticky a {
    color: #ffffff;
}
.nav-link {
    margin-bottom: 10px; !important;
    margin-left: 27px;
}


.sidebar-sticky ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}
li i {
    margin-right: 27px;
    font-size: 24px;
}

.sidebar-sticky a:hover {
    color: #00dbde;
}

.dashboard {
    padding-bottom: 30px;
    top: 48px;
}

.navbar-text {
    font-size: 0.8em; !important;
}

.sign-out {
    height: 50px;
    background-color: black;
    position: relative;
    left: 0;
    bottom: 0;
}