<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer-admin">
    <script th:src="@{'../special/admin/js/lib/jquery/jquery.min.js'}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{'../special/admin/js/lib/bootstrap/js/popper.min.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/bootstrap/js/bootstrap.min.js'}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{'../special/admin/js/jquery.slimscroll.js'}"></script>
    <!--Menu sidebar -->
    <script th:src="@{'../special/admin/js/sidebarmenu.js'}"></script>
    <!--stickey kit -->
    <script th:src="@{'../special/admin/js/lib/sticky-kit-master/dist/sticky-kit.min.js'}"></script>
    <!--Custom JavaScript -->


    <!-- Amchart -->
    <script th:src="@{'../special/admin/js/lib/morris-chart/raphael-min.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/morris-chart/morris.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/morris-chart/dashboard1-init.js'}"></script>


    <script th:src="@{'../special/admin/js/lib/calendar-2/moment.latest.min.js'}"></script>
    <!-- scripit init-->
    <script th:src="@{'../special/admin/js/lib/calendar-2/semantic.ui.min.js'}"></script>
    <!-- scripit init-->
    <script th:src="@{'../special/admin/js/lib/calendar-2/prism.min.js'}"></script>
    <!-- scripit init-->
    <script th:src="@{'../special/admin/js/lib/calendar-2/pignose.calendar.min.js'}"></script>
    <!-- scripit init-->
    <script th:src="@{'../special/admin/js/lib/calendar-2/pignose.init.js'}"></script>

    <script th:src="@{'../special/admin/js/lib/owl-carousel/owl.carousel.min.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/owl-carousel/owl.carousel-init.js'}"></script>
    <script th:src="@{'../special/admin/js/scripts.js'}"></script>
    <!-- scripit init-->

    <script th:src="@{'../special/admin/js/custom.min.js'}"></script>
</div>
</body>
</html>