<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="footer" th:fragment="footer">
    <!-- Footer -->
    <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
        <div class="flex-w p-b-90">
            <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    GET IN TOUCH
                </h4>

                <div>
                    <p class="s-text7 w-size27">
                    </p>

                    <div class="flex-m p-t-30">
                        <a class="fs-18 color1 p-r-20 fa fa-facebook" href="#"></a>
                        <a class="fs-18 color1 p-r-20 fa fa-instagram" href="#"></a>
                    </div>
                </div>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Über ROOMS
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a class="s-text7" href="#">
                            Corporate Website
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a class="s-text7" href="#">
                            Jobs
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a class="s-text7" href="#">
                            Partnerprogramm
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a class="s-text7" href="#">
                            Presse
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a class="s-text7" href="#">
                            Datenschutz
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Hilfe
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a class="s-text7" href="#">
                            Versandbedingungen
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a class="s-text7" href="#">
                            FAQ
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a class="s-text7" href="#">
                            Wo ist mein Paker?
                        </a>
                    </li>
                </ul>
            </div>


        </div>

        <div class="t-center p-l-15 p-r-15">
            <a href="#">
                <img alt="IMG-PAYPAL" class="h-size2" src="../basis/images/icons/paypal.png">
            </a>

            <a href="#">
                <img alt="IMG-VISA" class="h-size2" src="../basis/images/icons/visa.png">
            </a>

            <a href="#">
                <img alt="IMG-MASTERCARD" class="h-size2" src="../basis/images/icons/mastercard.png">
            </a>

            <a href="#">
                <img alt="IMG-EXPRESS" class="h-size2" src="../basis/images/icons/express.png">
            </a>

            <a href="#">
                <img alt="IMG-DISCOVER" class="h-size2" src="../basis/images/icons/discover.png">
            </a>

            <div class="t-center s-text8 p-t-20">
                Copyright © 2018 All rights reserved. | Design with <i aria-hidden="true" class="fa fa-heart-o"></i> by
                <a href="#" target="_blank">G4Soft</a>
            </div>
        </div>
    </footer>


    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i aria-hidden="true" class="fa fa-angle-double-up"></i>
		</span>
    </div>

    <!-- Container Selection1 -->

    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
    <!--===============================================================================================-->
    <script th:src="@{/../basis/jquery/jquery-3.3.1.min.js}" type="text/javascript"></script>
    <!--===============================================================================================-->
    <script th:src="@{/../basis/animsition/js/animsition.min.js}" type="text/javascript"></script>
    <!--===============================================================================================-->
    <!--<script type="text/javascript" th:src="@{/../basis/bootstrap/js/popper.min.js}"></script>-->
    <script th:src="@{/../basis/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <!--===============================================================================================-->
    <script th:src="@{/../basis/select2/select2.min.js}" type="text/javascript"></script>
    <!--===============================================================================================-->
    <script th:src="@{/../basis/slick/slick.min.js}" type="text/javascript"></script>
    <script th:src="@{/../basis/js/slick-custom.js}" type="text/javascript"></script>
    <!--===============================================================================================-->
    <script th:src="@{/../basis/lightbox2/js/lightbox.min.js}" type="text/javascript"></script>
    <!--===============================================================================================-->
    <script th:src="@{/../basis/sweetalert/sweetalert.min.js}" type="text/javascript"></script>
    <!--===============================================================================================-->
    <script th:src="@{/../basis/js/main.js}"></script>
    <script th:src="@{/../basis/js/index.js}"></script>
</div>


</body>
</html>