<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer-admin">
    <script th:src="@{'../special/admin/js/lib/jquery/jquery.min.js'}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{'../special/admin/js/lib/bootstrap/js/popper.min.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/bootstrap/js/bootstrap.min.js'}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{'../special/admin/js/jquery.slimscroll.js'}"></script>
    <!--Menu sidebar -->
    <script th:src="@{'../special/admin/js/sidebarmenu.js'}"></script>
    <!--stickey kit -->
    <script th:src="@{'../special/admin/js/lib/sticky-kit-master/dist/sticky-kit.min.js'}"></script>
    <!--Custom JavaScript -->


    <!-- Amchart -->
    <!--<script th:src="@{'../special/admin/js/lib/morris-chart/raphael-min.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/morris-chart/morris.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/morris-chart/dashboard1-init.js'}"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script th:src="@{'../special/admin/js/lib/chart-amchart/serial.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/chart-amchart/export.min.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/chart-amchart/light.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/chart-amchart/ammap.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/chart-amchart/worldLow.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/chart-amchart/pie.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/chart-amchart/amstock.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/chart-amchart/amchart-init.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/chartist/chartist.min.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/chartist/chartist-plugin-tooltip.min.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/chartist/chartist-init.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/chart-js/Chart.bundle.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/chart-js/chartjs-init.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/echart/echarts.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/echart/echarts-init.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/flot-chart/excanvas.min.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/flot-chart/jquery.flot.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/flot-chart/jquery.flot.pie.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/flot-chart/jquery.flot.time.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/flot-chart/jquery.flot.stack.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/flot-chart/jquery.flot.resize.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/flot-chart/jquery.flot.crosshair.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/flot-chart/curvedLines.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/flot-chart/flot-chart-init.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/peitychart/jquery.peity.min.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/peitychart/peitychart.init.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/sparklinechart/jquery.sparkline.min.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/sparklinechart/sparkline.init.js'}"></script>-->

    <script th:src="@{'../special/admin/js/lib/calendar-2/moment.latest.min.js'}"></script>
    <!-- scripit init-->
    <script th:src="@{'../special/admin/js/lib/calendar-2/semantic.ui.min.js'}"></script>
    <!-- scripit init-->
    <script th:src="@{'../special/admin/js/lib/calendar-2/prism.min.js'}"></script>
    <!-- scripit init-->
    <script th:src="@{'../special/admin/js/lib/calendar-2/pignose.calendar.min.js'}"></script>
    <!-- scripit init-->
    <script th:src="@{'../special/admin/js/lib/calendar-2/pignose.init.js'}"></script>

    <script th:src="@{'../special/admin/js/lib/owl-carousel/owl.carousel.min.js'}"></script>
    <script th:src="@{'../special/admin/js/lib/owl-carousel/owl.carousel-init.js'}"></script>
    <script th:src="@{'../special/admin/js/scripts.js'}"></script>
    <!-- scripit init-->

    <script th:src="@{'../special/admin/js/custom.min.js'}"></script>
</div>
</body>
</html>