<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/basis/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/basis/fonts/font-awesome-5.1.0/css/fontawesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{basis/fonts/themify/themify-icons.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/basis/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/basis/fonts/elegant-font/html-css/style.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/basis/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/basis/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/basis/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/basis/slick/slick.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/basis/lightbox2/css/lightbox.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/basis/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/basis/css/util.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/basis/css/main.css}">
    <!--===============================================================================================-->
</head>
<body>
</body>
</html>