<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles-admin">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- Favicon icon -->
    <link href="../special/admin/images/favicon.png" rel="icon" sizes="16x16" type="image/png">
    <title>Management</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{'../special/admin/css/lib/bootstrap/bootstrap.min.css'}" rel="stylesheet">
    <!-- Custom CSS -->

    <link th:href="@{'../special/admin/css/lib/calendar2/semantic.ui.min.css'}" rel="stylesheet">
    <link th:href="@{'../special/admin/css/lib/calendar2/pignose.calendar.min.css'}" rel="stylesheet">
    <link th:href="@{'../special/admin/css/lib/owl.carousel.min.css'}" rel="stylesheet"/>
    <link th:href="@{'../special/admin/css/lib/owl.theme.default.min.css'}" rel="stylesheet"/>
    <link th:href="@{'../special/admin/css/helper.css'}" rel="stylesheet">
    <link th:href="@{'../special/admin/css/style.css'}" rel="stylesheet">
    <link th:href="@{'../special/admin/fonts/font-awesome-4.7.0/css/font-awesome.css'}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

</body>
</html>