<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="header" th:fragment="navbar-admin">
    <nav class="navbar navbar-expand-md fixed-top">
        <span class="ti-user mr-4"></span> <span class="username mr-auto">Admin</span>
        <div class="input-group search_bar float-right">
            <input type="text" class="form-control search_input mr-auto" placeholder="Search" onfocus="this.placeholder=''" onblur="this.placeholder = 'Search'"/>
            <span class="input-group-append">
              <button class="btn" type="button">
                    <i class="ti-search"></i>
              </button>
            </span>
        </div>
    </nav>
</div>
</body>
</html>