<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="left-sidebar" th:fragment="sidebar-admin">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Home</li>
                <li><a aria-expanded="false" class="has-arrow  " href="#"><i class="fa fa-tachometer"></i><span
                        class="hide-menu">Dashboard </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">Ecommerce </a></li>
                        <li><a href="#">Analytics </a></li>
                    </ul>
                </li>

                <li class="nav-label">Design</li>
                <li><a aria-expanded="false" href="../admin/carousel"><i class="fa fa-envelope"></i><span
                        class="hide-menu">Carousel</span></a>
                </li>

                <li><a aria-expanded="false" class="has-arrow  " href="#"><i class="fa fa-envelope"></i><span
                        class="hide-menu">Product</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="../admin/product">Overview</a></li>
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Remove</a></li>
                    </ul>
                </li>

                <li><a aria-expanded="false" class="has-arrow  " href="#"><i class="fa fa-envelope"></i><span
                        class="hide-menu">Catalog</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="../admin/catalog">Add</a></li>

                    </ul>
                </li>

                <li class="nav-label">Test</li>
                <li><a aria-expanded="false" href="../admin/test"></i><span
                        class="hide-menu">Test</span></a>

                </li>

                <li class="nav-label">Tutorial</li>
                <li><a aria-expanded="false" href="../admin/demo"></i><span
                        class="hide-menu">Demo</span></a>

                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
</body>
</html>