<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="left-sidebar" th:fragment="sidebar-admin">
    <div class="sidebar-sticky" data-toggle="collapse" aria-expanded="false">
        <ul class="nav navbar-nav">
            <li class="nav-item dashboard">
                <a href="#" class="nav-link">
                    <i class="ti-home"></i>
                    <span class="navbar-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="ti-location-pin"></i><span class="navbar-text">Dashboard</span></a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="ti-wallet"></i><span class="navbar-text">Dashboard</span></a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="ti-server"></i><span class="navbar-text">Dashboard</span></a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="ti-calendar"></i><span class="navbar-text">Dashboard</span></a>
            </li>
            <li class="nav-item" style="flex-grow: 1;"><a href="#" class="nav-link"><i class="ti-truck"></i><span class="navbar-text">Dashboard</span></a>
            </li>
            <li class="nav-item mt-auto sign-out"><a href="#" class="nav-link"><i class="ti-shift-left"></i><span
                    class="navbar-text" th:utext="#{signout}"></span></a></li>
        </ul>
    </div>

</div>
</body>
</html>