@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
}

.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    /*background-color: #e6e6e6;*/
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
    background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
    background-color:#5cb811;
}

.btn-green, .btn-green:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.btn-green.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-green {
    background-color: #77d42a;
    background-image: -moz-linear-gradient(top, #77d42a , #5cb811 );
    background-image: -ms-linear-gradient(top, #77d42a, #5cb811);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#77d42a), to(#5cb811));
    background-image: -webkit-linear-gradient(top, #77d42a, #5cb811);
    background-image: -o-linear-gradient(top, #77d42a, #5cb811);
    background-image: linear-gradient(top, #77d42a, #5cb811);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#77d42a, endColorstr=#5cb811, GradientType=0);
    border: 1px solid #268a16;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-green:hover, .btn-green:active, .btn-green.active, .btn-green.disabled, .btn-green[disabled] {
    filter: none;
    background-color:#5cb811;
}

.btn-block {
    width: 100%;
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #005617;
    background: -moz-radial-gradient(100% 100%, ellipse cover, rgba(60, 74, 200, 0.4) 10%, rgba(99, 10, 4, 0) 40%), -moz-linear-gradient(top, rgba(61, 78, 219, 0.25) 0%, rgba(16, 87, 67, 0.4) 100%), -moz-linear-gradient(150deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 0%, ellipse cover, rgba(33, 200, 54, 0.4) 10%, rgba(99, 10, 4, 0) 40%), -webkit-linear-gradient(top, rgba(61, 78, 219, 0.25) 0%, rgba(18, 87, 39, 0.4) 100%), -webkit-linear-gradient(60deg, #670d10 0%, #092756 100%);
    background: -o-radial-gradient(0% 0%, ellipse cover, rgba(33, 200, 54, 0.4) 10%, rgba(99, 10, 4, 0) 40%), -o-linear-gradient(top, rgba(61, 78, 219, 0.25) 0%, rgba(18, 87, 39, 0.4) 100%), -o-linear-gradient(60deg, #670d10 0%, #092756 100%);
    background: -ms-radial-gradient(0% 0%, ellipse cover, rgba(33, 200, 54, 0.4) 10%, rgba(99, 10, 4, 0) 40%), -ms-linear-gradient(top, rgba(61, 78, 219, 0.25) 0%, rgba(18, 87, 39, 0.4) 100%), -ms-linear-gradient(60deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 0%, ellipse cover, rgba(33, 200, 54, 0.4) 10%, rgba(99, 10, 4, 0) 40%), linear-gradient(to bottom, rgba(61, 78, 219, 0.25) 0%, rgba(18, 87, 39, 0.4) 100%), linear-gradient(60deg, #670d10 0%, #092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

.login h1 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
}

.remember {
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    opacity: 0.8;
}

.remember input {

    width: 18px;
    height: 18px;
    margin-left: 15px;
    margin-right: 5px;
}

input {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

#alertMess {
    display: block;
    position: absolute;
    left: 2%;
    width: 300px;
    height: 100px;
    top: 3%;
    color: #bfbfbf;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);*/
    background: rgba(0, 0, 0, 0.3);
    /*box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);*/
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

#alertMess h1 {
    font-size: 14px;
    margin: 0px;
}

#alertMess p {
    font-size: 13px;
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}